---
import { Icon } from 'astro-icon';
import { getHomePermalink, getRelativeLink } from '~/utils/permalinks';

const links = [
	{ title: 'Features', href: '#' },
	{ title: 'Security', href: '#' },
	{ title: 'Team', href: '#' },
	{ title: 'Enterprise', href: '#' },
	{ title: 'Customer stories', href: '#' },
	{ title: 'Pricing', href: '#' },
	{ title: 'Resources', href: '#' },
];

const social = [
	{ title: 'call', label: 'phone', icon: 'mdi:phone', href: 'tel:+14807127044' },
	{ title: 'email', label: 'send mail', icon: 'mdi:email', href: 'mailto:keith@virgosdesign.com' },
	{ title: 'facebook', label: 'Facebook', icon: 'mdi:facebook', href: '#' },
	{ title: 'instagram', label: 'Instagram', icon: 'mdi:instagram', href: '#' },
	{ title: 'twitter', label: 'Twitter', icon: 'mdi:twitter', href: '#' },
];
---

<footer class="w-full bg-default pt-16 pb-8 border-t border-default">
	<div class="md:px-12 lg:px-28">
		<div class="container m-auto space-y-6 text-default">
			<a href={getHomePermalink()}>
				<Icon name="wordmark" class="h-12 text-primary mx-auto" aria-label="logo"/>
			</a>
			{
				links && Array.isArray(links) && links.length > 0 && (
					<ul class="flex flex-col items-center justify-center gap-4 py-4 sm:flex-row sm:gap-8">
						{links.map(({ title, href }) => (
							<li role="listitem">
								<a
									class="text-default hover:text-primary hover:underline transition duration-150 ease-in-out"
									href={href}
								>
									{title}
								</a>
							</li>
						))}
					</ul>
				)
			}
			<div class="m-auto flex w-max items-center">
				<ul class="flex md:order-1 justify-between space-x-4">
					{
						social.map(({ href, title, label, icon }) => (
							<li>
								<a
									href={href}
									title={title}
									aria-label={label}
								>
									<Icon name={icon} class="w-5 h-5" />
								</a>
							</li>
						))
					}
				</ul>
			</div>

			<div class="text-center">
				<span class="text-xs tracking-wide">
					Copyright © Virgos Design 
					<span id="year">2022</span> · All rights reserved
				</span>
			</div>
		</div>
	</div>
</footer>
