---
import { Icon } from 'astro-icon';
import { getHomePermalink, getBlogPermalink, getPermalink, getRelativeLink } from '~/utils/permalinks';

import type { NavLink, IconLink } from '~/types';

export interface Props {
	globalLinks: Array<NavLink>;
	socialLinks: Array<IconLink>;
}

const { globalLinks, socialLinks } = Astro.props;
---

<nav
	id="global-nav"
	aria-label="primary navigation"
	class="fixed top-0 z-40 flex w-full items-center border-b border-default bg-secondary text-primary backdrop-blur-xl transition-all duration-1000 ease-in-out"
>
	<div class="w-full flex py-1 px-4">
		<div class="max-w-screen-lg mx-auto flex w-full">
			<button id="open-nav-button" type="button" class="btn sm:hidden" aria-label="Navigation">
				<Icon pack="mdi" name="menu" class="h-8" />
			</button>
			<ul class="flex items-center justify-between w-full px-2">
				<li class="p-1 flex flex-col items-center">
					<a href={getHomePermalink()} title="home button" aria-label="Home">
						<Icon name="logomark" class="w-6 h-6" />
					</a>
				</li>
				{
					globalLinks.map(({ title, url }) => (
						<li class="p-1 flex flex-col items-center">
							<a class="text-xs" href={url}>
								{title}
							</a>
						</li>
					))
				}
				<li class="p-1 flex items-center">
					<ul class="flex items-center justify-between">
						{
							socialLinks.map(({ title, url, desc, icon }) => (
								<li class="p-1 flex flex-col items-center">
									<a href={url} title={title} aria-label={desc}>
										<Icon name={icon} class="w-6 h-6" />
									</a>
								</li>
							))
						}
					</ul>
				</li>
			</ul>
			<!-- MODAL  -->
			<div id="menu-modal" class="modal hidden" aria-hidden="true">
				<div class="fixed inset-0 bg-default px-8 py-4">
					<div class="space-y-4" role="dialog" aria-modal="true">
						<div class="text-right">
							<button id="close-nav-button" type="button" class="btn" aria-label="Close navigation">
								<Icon pack="mdi" name="close" class="h-8" />
							</button>
						</div>
						<div class="flex justify-center">
							<Icon name="logomark" class="h-16" />
						</div>
						<ul class="flex flex-col">
							{
								globalLinks.map(({ title, url }) => (
									<li>
										<a class="block py-4 text-center text-xl" href={url}>
											{title}
										</a>
									</li>
								))
							}
						</ul>
					</div>
				</div>
			</div>
			<!-- END MODAL -->
		</div>
	</div>
</nav>

<noscript>
	<style>
		#open-nav-button {
			display: none;
		}
	</style>
</noscript>
